.main {
    width: 1366px;
    margin: 0 auto;
    padding: 50px 150px 0px 150px;
    font-family: 'Verdana',sans-serif;
    box-sizing: border-box;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: #fff;  
}
a:visited {
    color: inherit;
}
.header {
    padding-bottom: 48px;
    height: 44px;
}
.milan-logo {
    float: left;
    width: 46px;
    height: 44px;
    background-image: url(../images/logo.png);
    background-size: cover;
}
.logo:hover .milan-logo{
    background-image: url(../images/logo-orange.png);
}
.link-logo {
    float:left;
    font-size: 29px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    padding-left: 15px;
    vertical-align: bottom;
}
.link-logo span {
    font-size: 18px;
}
.logo:hover .link-logo {
    color: #f26522;
}
.contacts {
    float: right;
    text-align: right;
}
.contacts p {
    padding-bottom: 5px;
    text-align: right;
}
.gallery {
    clear: both;
}
.gallery ul {
    width: 100%;
    box-sizing: border-box;
}
.gallery ul li {
    float: left;
    width: 312px;
    box-sizing: border-box;
    height: 240px;
    margin-bottom: 58px;
    text-align: center;
    position: relative;
}
.middle-img {
    margin:0 65px;
}
.image-block {
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: solid 2px #000;
    border-top: solid 2px #fff;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0%, #000 100%), linear-gradient(to bottom, #fff 0%, #000 100%);
}
.discription {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    margin-top:22px;
}
.discription:hover{
    color: #f26522;
}
.footer {
    clear: both;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding-bottom: 20px;
}
.orange-box {
    width: 100%;
    height: 63px;
    box-sizing: border-box;
    background-color: #f26522;
    position: absolute;
    left: 0;
    bottom: 35px;
    opacity: 0;
}
.image-block:hover .orange-box {
    opacity: 1;
    transition: 0.5s;
}
.price {
    float: left;
    text-align: left;
    font-size: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    margin: 17px 0 16px 21px;
}
.price span {
    font-size: 20px;
}
.details {
    float: right;
    text-decoration: none;
    margin: 35px 10px 17px 0;
    font-size: 14px;
}
.details:hover:after{
    content: "\203A";
    margin-left: 15px;
    margin-right: 8px;
}